header, h {
    text-align: center;
    line-height: 60px;
    height: 100%;
    background-color: #faf3dd;
    color: #000000;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}


#signin{
    text-align: center;
    margin: 50px;
}

#signin button{
    block-size: 20px;
    font-family: monospace;
    color: #000000;
    background-color: #c8d5b9;
}

#signin button:hover{
    background-color: #8fc0a9;
}

#signup{
    text-align: center;
    width: 60%;
    margin: 50px;
    border: 1px solid;
    border-radius: 10px;
    background-color: seashell;
    opacity: .7;
}

#signup button{
    block-size: 20px;
    font-family: monospace;
    color: #000000;
    background-color: #c8d5b9;
}

#signup button:hover{
    background-color: #8fc0a9;
}

body {
    background-image: url("images/flat-lay-of-a-calendar-on-the-table.jpg");
    background-repeat: no-repeat;
}

#dayView {
    height: 720px;
    width: 33%;
    overflow-y: auto;
    float: left;
    
}

#calendar {
    height: 720px;
    float: left;
    Width: 33%;
    display: block;
    
    
}

#weekly {
    float: left;
    height: 720px;
    width: 33%;
    
}

table {
    padding-bottom: 150px;
    
}
